.Navigation {
  padding: 1rem;
  background-color: $colorNav;

  .NavLink {
    padding: 1rem;
    color: $colorTxt;
    font-size: 1.4rem;
    text-decoration: none;
    transition: all 300ms ease-in-out;

    &.Active,
    &:hover {
      color: $colorTxtActive;
    }
  }
}
