.App {
  height: 101vh;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: $colorTxt;
  background-color: $colorBkg;

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

@keyframes :global(enter) {
  0% {
    opacity: 0;
    transform: translate3d(-100rem, 0, 0);
  }

  50% {
    opacity: 1;
    transform: translate3d(10rem, 0, 0);
  }

  65% {
    transform: translate3d(-8rem, 0, 0);
  }

  80% {
    transform: translate3d(5rem, 0, 0);
  }

  90% {
    transform: translate3d(-2rem, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes :global(exit) {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(200rem, 0, 0);
  }
}
